body {
    padding: 0;
    margin: 0;
    background:  #c0daed;
    text-align: center;
    /*#00aaff99 */

}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;
}

#tabela {
  text-align:center;
}

#mapid { 
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto; 
  width: 60%; height: 40%;
}

.formAlign {
  text-align: left;
}

.navbar {
  margin-bottom: 1rem;
}
  